
.container{
    background-color: #301C41;
    color: #ffff;
    height: 100%;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}

.page1{
    padding: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.page2{
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60%;    
}


.page3{
    display: flex;
    justify-content: center;
    padding: 100px;
    width: 100%;
    text-align: center;
    height: 40%;    
}


h1{
    font-size: 60px;
}

.page1 p{
    font-size: 30px;
}

.exp{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-color: aqua;
    border-bottom-style:solid;
    width: 100%;
}

.exp img{
    width: 450px;
    height: 500px;
    padding-left: 170px;
    padding-right:5%;
}

.exp ul{
    text-align: justify;
    font-size: 35px;
    width: 20%;
    list-style: none;
    font-family:cursive;  
}

table{
    border: 1px solid;
    width: 100%;
    font-size: 30px;
}

table thead{
    background-color: #6F95FF;
}
table tbody{
    font-size: 20px;
}

.link{
    text-decoration: none;
    color: aliceblue;
}


